
// top
.header-top {
    background: #a68136;
    background: #000;
    color: #fff;

    .langs {
        a {
            color: #fff;
        }
    }
  }
  
  .header-top-link {  
    display: flex;

    > a {
        display: block;
        padding: 10px;

        &.selected {
            background: #fff;
            color: #000;
        }

        + a {
            border-left: 1px solid rgba(255,255,255,.3);
        }
      }
  }

  .socials {
      a {
        transition: .25s ease-in-out;
        color: #fff;
      }

      .facebook {
        background: #3b5998;
      }
      
      .google-plus {
        background: #dd4b39;
      }
      
      .twitter {
        background: #55acee;
      }
      
      .youtube {
        background: #f44336;
      }
  }


  // logo
  .logo-container {  
    background: #fff;
    padding: 3em 0;

    .logo {
        font-size: 3em;
        font-weight: 900;
        color: $main-color;
      }
  }
  
  .hotline {
    display: flex;
    align-items: center;

    span {
        color: $red-color;
        font-size: 3em;
        font-weight: 900;
        text-shadow: 0 1px 1px #000;
      }
  }
  
  // menu
  .menu-container {
    background: #fefefe;
    border-top: 1px solid rgba(0,0,0,.01);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
  }
  
  
  
  .menu {
    display: flex;
    align-items: center;

    .menu-child {
        display: none;        
        position: absolute;
        background: #fff;
        white-space: nowrap;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
        border: 1px solid #fff;
        z-index: 100;

        a {
            display: block;
            padding: 8px 8px 8px 16px;
            min-width: 250px;
            color: $main-color;
            font-weight: 400;
            border-left: 2px solid transparent;
            transition: .25s;
            font-size: .9em;

            &:hover {
                border-left-color: $main-color;
              }
          }
      }

      > li {
        > a {
            display: block;
            padding: 24px 16px;
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            font-weight: bold;
            font-size: .9em;
            color: $main-color;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background: $main-color;
                opacity: 0;
                transition: .25s ease-in-out;
              }
          }

          &:hover {
              > a {
                  &:after {
                    opacity: 1;
                  }
              }
          }
      }

      .has-child {
          &:hover {
              .menu-child {
                display: block;                
              }
          }
      }
  } 
  
  .search-container {  
    display: flex;
    align-items: center;

    .search-button {
        border: none;
        background: transparent;
        outline: none;
        color: #aaa;
      }

      .form-control {
        transition: .25s;
        width: 100px;
        border: 1px solid rgba(0,0,0,.1);

        &:hover,
        &:focus {
          width: 250px;
        }
      }
  }