.post-container {
    padding: 2em 0;

    .page-title {
        font-weight: 600;
    }
}

.post-content {
    margin: 1em 0;
    padding-top: 1em;
    border-top: 1px solid #ddd;
    position: relative;

    img {
        max-width: 100%;
        display: block;
    }

    h3 {
        font-weight: 600;
        margin: 1em 0 .5em 0;
        font-size: 1.25rem;

        &:before {
            content: '#';
            color: #a68136;
        }
    }

    p {
        margin-bottom: 1em;
    }

    // share buttons
    .socials-share {
        position: absolute;
        top: 0;
        right: 100%;
        padding: 0 16px;

        a {
            display: block;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            background: #fff;

            &:hover {
                border: 2px dashed;
            }
        }
    }
}

// tag
.post-widget {
    border: 1px dashed #ddd;
    border-left: none;
    border-right: none;
    padding: 16px 0;

    + .post-widget {
        border-top: none;
    }

    //.widget-content {
        //display: flex;
        // align-items: center;
    //}
}


.tag-widget {
    a {
        display: inline-block;
        padding: 4px 16px;
        margin-left: 8px;
        background: $main-color;
        color: #fff;
        font-weight: 600;
        border-radius: 32px;
        min-width: 50px;
        text-align: center;
    }
}

// related post
.related-post-widget {
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.related-post {
    .rp-meta {
        color: #aaa;
        font-size: .9em;
    }

    .rp-title a {
        font-weight: bold;
        font-size: 16px;
        display: block;
        padding: 4px 0;
        color: $main-color;
    }
}

.post-widget .widget-title {
    padding: 0;
    margin: 0 0 1em 0;
}

// old post
.category-widget {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: flex;
            font-size: .9em;

            + li a {
                border-top: 1px dashed #ddd;
            }
        }

        a {
            display: block;
            flex: 1;
            color: $main-color;
            padding: 4px 0;
        }

        time {
            display: block;
            width: 130px;
            padding: 4px 0;
            color: #aaa;
        }
    }
}