@charset "UTF-8";
.main-color {
  color: #a68136 !important; }

html, body {
  background: #ebebeb;
  font-size: 14px;
  font-family: Roboto;
  min-height: 100%; }

img {
  display: initial; }

a {
  color: #2196f3;
  text-decoration: none; }

.hot-news {
  padding: 16px 0; }
  .hot-news .icon {
    display: block;
    width: 86px;
    background: #000;
    height: 24px;
    position: relative;
    border-radius: 2px 0 0 2px;
    color: #fff;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase; }
    .hot-news .icon:after {
      content: '';
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      width: 0;
      height: 0;
      border-left: 6px solid #000;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent; }
  .hot-news .news {
    overflow: hidden; }
  .hot-news .nav .nav-button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    color: #aaa; }
    .hot-news .nav .nav-button + .nav-button {
      margin-left: 8px; }

.call-widget h4 a {
  color: #000; }
  .call-widget h4 a strong {
    color: #f42;
    font-weight: 900;
    letter-spacing: 2px; }
.call-widget .fas {
  margin-right: 8px;
  font-size: 2em;
  color: #f42; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand; }

.social-widget .widget-footer a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  margin-right: 8px;
  color: #fff; }

.header-top {
  background: #a68136;
  background: #000;
  color: #fff; }
  .header-top .langs a {
    color: #fff; }

.header-top-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-top-link > a {
    display: block;
    padding: 10px; }
    .header-top-link > a.selected {
      background: #fff;
      color: #000; }
    .header-top-link > a + a {
      border-left: 1px solid rgba(255, 255, 255, 0.3); }

.socials a {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  color: #fff; }
.socials .facebook {
  background: #3b5998; }
.socials .google-plus {
  background: #dd4b39; }
.socials .twitter {
  background: #55acee; }
.socials .youtube {
  background: #f44336; }

.logo-container {
  background: #fff;
  padding: 3em 0; }
  .logo-container .logo {
    font-size: 3em;
    font-weight: 900;
    color: #a68136; }

.hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hotline span {
    color: #f42;
    font-size: 3em;
    font-weight: 900;
    text-shadow: 0 1px 1px #000; }

.menu-container {
  background: #fefefe;
  border-top: 1px solid rgba(0, 0, 0, 0.01); }
  .menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu .menu-child {
    display: none;
    position: absolute;
    background: #fff;
    white-space: nowrap;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    z-index: 100; }
    .menu .menu-child a {
      display: block;
      padding: 8px 8px 8px 16px;
      min-width: 250px;
      color: #a68136;
      font-weight: 400;
      border-left: 2px solid transparent;
      -webkit-transition: .25s;
      transition: .25s;
      font-size: .9em; }
      .menu .menu-child a:hover {
        border-left-color: #a68136; }
  .menu > li > a {
    display: block;
    padding: 24px 16px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-weight: bold;
    font-size: .9em;
    color: #a68136; }
    .menu > li > a:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: #a68136;
      opacity: 0;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
  .menu > li:hover > a:after {
    opacity: 1; }
  .menu .has-child:hover .menu-child {
    display: block; }

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search-container .search-button {
    border: none;
    background: transparent;
    outline: none;
    color: #aaa; }
  .search-container .form-control {
    -webkit-transition: .25s;
    transition: .25s;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .search-container .form-control:hover, .search-container .form-control:focus {
      width: 250px; }

.slider-container {
  background: indigo;
  height: 100%; }

.widget-container {
  background: #fff; }

.right-side .widget-container + .widget-container {
  margin-top: 30px; }

.widget-title {
  border-bottom: 2px solid #eee;
  position: relative;
  padding: 16px 0 8px 0;
  margin: 0 16px 16px; }
  .widget-title:after {
    border-bottom: 2px solid #f42;
    content: '';
    display: block;
    top: 100%;
    left: 0;
    position: absolute;
    width: 25%; }

.widget-footer {
  background: #fcfcfc;
  padding: 16px;
  text-transform: uppercase;
  font-size: .9em; }
  .widget-footer a {
    color: #111; }

.featured-posts {
  margin: 0 16px; }

.featured-post {
  margin-bottom: 16px; }
  .featured-post.featured-post--l .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .featured-post.featured-post--l .row > [class^=col-] {
      width: 100%;
      max-width: 100%; }
    .featured-post.featured-post--l .row .post-col-right {
      margin-top: 4px;
      padding-left: 0 !important; }
    .featured-post.featured-post--l .row .post-col-left {
      min-height: 280px; }
      .featured-post.featured-post--l .row .post-col-left img {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
  .featured-post img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .featured-post .post-cover {
    display: block; }
  .featured-post .post-title {
    font-size: 1.12em;
    font-weight: 500;
    margin-bottom: 4px; }
    .featured-post .post-title a {
      color: #111; }
  .featured-post .post-tags a {
    color: #aaa;
    font-size: .85em;
    text-transform: uppercase; }
    .featured-post .post-tags a + a {
      margin-left: 4px; }
  .featured-post .post-meta {
    font-size: .85em;
    color: #aaa; }

.related-news {
  margin: 16px 0;
  padding: 0;
  list-style: none; }
  .related-news li {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .related-news li + li {
      margin-top: 8px; }
    .related-news li time {
      font-weight: 400;
      font-size: .85em;
      color: #f42;
      margin-left: 2px; }
      .related-news li time:before {
        content: '— '; }
    .related-news li:before {
      content: "\f061";
      font-family: 'Font Awesome 5 Free';
      margin-right: 8px;
      font-size: .8em;
      color: #aaa; }
    .related-news li:hover:before {
      color: #f42; }
    .related-news li a {
      font-weight: 400;
      color: #aaa;
      -webkit-transition: .25s ease;
      transition: .25s ease; }
      .related-news li a:hover {
        color: #000; }

.service-container {
  background: #fff;
  padding: 4em 0;
  background-image: url(../../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .service-container .title {
    font-weight: 600;
    font-size: 2.5em; }
  .service-container .col-service {
    -webkit-perspective: 200px;
            perspective: 200px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    margin-bottom: 30px; }

.service {
  text-align: center;
  padding: 32px 32px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border: 1px solid rgba(238, 238, 238, 0.5);
  border-radius: 3px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }
  .service:hover {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }
  .service .service-title {
    padding: 8px;
    margin: 0;
    font-weight: 600; }
    .service .service-title a {
      color: #000; }
  .service .service-image {
    display: block; }
  .service .service-desc {
    padding: 8px 0 16px; }
/*# sourceMappingURL=style.css.map */